#collatz_input {
    width: 100px;
    display: inline;
    margin-right: 10px;
}

#collatz_output {
    color: red;
}

.ok {
    display: inline;
}

/*#collatz_chart_container {
    display: none;
}*/

@media only screen and (min-width: 480px) {
    #jpg_export {
        width: 700px;
        height: 700px;
    }
}

@media only screen and (max-width: 479px) {
    #jpg_export {
        width: 350px;
        height: 350px;
    }
}